<h1>Change nickname</h1>

<%= form_for @character, url: {action: "update"} do |f| %>
<% if @character.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>
 
    <ul>
    <% @character.errors.full_messages.each do |msg| %>
      <li><%= msg %></li> 
    <% end %>
    </ul>
  </div>
<% end %>
<br>
<strong>nickname</strong><br>
<%= f.text_field :nickname %><br>
<br>


<%= f.submit "Save" %>
<% end %>
