<h1>Characters#new</h1>
<p>Find me in app/views/characters/new.html.erb</p>


<%= form_for @character, url: {action: "create"} do |f| %>

<% if @character.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>
 
    <ul>
    <% @character.errors.full_messages.each do |msg| %>
      <li><%= msg %></li> 
    <% end %>
    </ul>
  </div>
<% end %>

<br>
<strong>nickname</strong><br>
<%= f.text_field :nickname %><br>
<strong>choose class</strong><br>
<%= f.collection_radio_buttons(:character_class,  [['Warrior', 'Warrior'] ,['Rogue', 'Rogue'], ['Mage', 'Mage']], :first, :last) do |b| %>
  <%= b.label { b.radio_button + image_tag('/assets/'+b.text+'.png') } %>
<% end %>
<%= f.submit "Create" %>
<% end %>
