<h1>Create your character</h1>

<%= form_for @character, url: {action: "create"} do |f| %>

<% if @character.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>
 
    <ul>
    <% @character.errors.full_messages.each do |msg| %>
      <li><%= msg %></li> 
    <% end %>
    </ul>
  </div>
<% end %>

<br>
<h4><strong>Enter your nickname</strong><br></h4>
<%= f.text_field :nickname %><br>
<h4><strong>choose class</strong><br></h4> 

<%= f.collection_radio_buttons(:character_class,  [['Warrior', 'Warrior'] ,['Rogue', 'Rogue'], ['Mage', 'Mage']], :first, :last) do |b| %>
  <%= b.label { b.radio_button + image_tag('/assets/'+b.text+'.png') } %>
<% end %>
<br>
<br>
<%= f.submit "Create" %>
<% end %>
