<h1>Your character</h1>

<%= image_tag @character.set_avatar %> <br>
<strong>Class: </strong> <%= @character.character_class %><br/>
<strong>Nickname: </strong><%= @character.nickname %><br/>
<strong>Lvl: </strong><%= @character.lvl %><br/>
<strong>Experience: </strong><%= @character.exp %><br/>
<strong>HealthPoint: </strong><%= @character.hp %><br/>
<strong>Damage: </strong><%= @character.damage %><br/>

<% if @character.user_id == current_user.id %>
<h5><%= link_to "Change nickname", edit_character_path(@character.id) %> | 
	<%= link_to "Delete", character_path(@character.id), method: :delete, data: {confirm: "are you sure?"} %><br/></h5>	
<% end %>